################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Biostar-JS-API/v17/.suo
/.vs
/.json
